<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/elim-me"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedMaterialExterno.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" ion-align-self-center>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input value="{{loadedMaterialExterno.nombre}}" readonly="true"></ion-input>             
            </ion-item>
            <ion-item>
              <ion-label position="floating">Marca</ion-label>
              <ion-input value="{{loadedMaterialExterno.marca}}" readonly="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Precio de referencia (₡)</ion-label>
              <ion-input value="{{loadedMaterialExterno.precio}}" readonly="true"></ion-input>
            </ion-item>           
            <ion-item>
              <ion-label position="floating">Unidades de referencia</ion-label>
              <ion-input value="{{loadedMaterialExterno.unidades}}" readonly="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Unidades disponibles</ion-label>
              <ion-input value="{{loadedMaterialExterno.unidades_disp}}" readonly="true"></ion-input>
            </ion-item>
            <div ion-margin-vertical ion-text-right>
              <ion-button (click)="OnEliminarMaterialExterno()">Eliminar Material Externo</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
