<ion-header no-border>
  <ion-toolbar color="primary">
        <ion-button slot="end" (click)="salir()" color="danger">Cerrar</ion-button>
    <ion-title>{{ titulomodal }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" ion-align-self-center>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-toolbar id="zonaboton" style="display: none;" (click)="onconfirmarCambios()">
                <ion-button color="secondary" slot="start">Realizar cambios</ion-button>
              </ion-toolbar>
                <ion-item *ngFor="let elem of obj.array; let i = index">
                  <ion-label class='fixedLabel'>{{elem.nombre}}</ion-label>
                  <ion-label>{{elem.valor}}</ion-label>
                </ion-item>  
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
