<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/mainmenu"></ion-back-button>
    <ion-menu-button color="primary" menu="memenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Materiales Externos</ion-title>
    <ion-button color="danger" slot="end" (click)="onCerrarSesion()">Salir</ion-button>
  </ion-toolbar>
</ion-header>


  <ion-menu side="start" menuId="memenu" contentId="mecontent">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item [routerLink]="page.url">
            <ion-icon color="primary" slot="start" [name]="page.icon"></ion-icon>
            <ion-label>{{ page.title }}</ion-label> 
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="mecontent" main></ion-router-outlet>
    <style>
      body {
        background-image: url('../assets/images/materialesexternos.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
      <body></body>