<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mod-me"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedMaterialExterno.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" ion-align-self-center>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input placeholder="{{loadedMaterialExterno.nombre}}" type="text" [(ngModel)]="inputmodmenombre" pattern="^(?![\s.0-9]+$)[a-zA-Z\s.0-9].{1,31}$" minlength="1" maxlength="31"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Marca</ion-label>
              <ion-input placeholder="{{loadedMaterialExterno.marca}}" type="text" [(ngModel)]="inputmodmemarca" pattern="^(?![\s]+$)[a-zA-Z\s.0-9$!%?&].{1,31}$" minlength="1" maxlength="31"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Precio de referencia (₡)</ion-label>
              <ion-input placeholder="{{loadedMaterialExterno.precio}}" type="text" [(ngModel)]="inputmodmeprecio" pattern="^(([1-9]{1}[0-9]{0,})|([0]{1}))$" minlength="1" maxlength="13"></ion-input>
            </ion-item>           
            <ion-item>
              <ion-label position="floating">Unidades de referencia</ion-label>
              <ion-input placeholder="{{loadedMaterialExterno.unidades}}" type="text" [(ngModel)]="inputmodmeunidades" pattern="^(([1-9]{1}[0-9]{0,})|([0]{1}))$" minlength="1" maxlength="13"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Unidades disponibles</ion-label>
              <ion-input placeholder="{{loadedMaterialExterno.unidades_disp}}" type="text" [(ngModel)]="inputmodmeunidadesdisp" pattern="^(([1-9]{1}[0-9]{0,})|([0]{1}))$" minlength="1" maxlength="13"></ion-input>
            </ion-item>
            <div ion-margin-vertical ion-text-right>
              <ion-button (click)="OnModicarMaterialExterno()">Modificar Material Externo</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>